li{ 
    background-color: var(--color-font);
    list-style-type: none;
    bottom: -200px;
    animation: up;
    position: absolute;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        opacity: .5;
    }
    to{
        opacity: 0;
        transform: translateY(-900px) rotate(360deg);
    }
}