.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.box-mode-theme{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.txt-mode-theme{
    font: 600 3rem Archivo;
    color: var(--Color-secondary);
    text-decoration: none;
}

.btn-mode-theme{
    width: 15rem;
    height: 5rem;
    margin: 0 2rem;
    border-radius: 1rem;
    background-color: var(--Color-secondary);
    padding: .5rem;
    display: flex;
    align-items: center;
}

.btn-mode-theme a{
    width: 4rem;
    height: 100%;
    border-radius: .7rem;
    background-color: var(--Color-primary);
    position: relative;
}

.btn-mode-theme a:hover{
    opacity: .98;
}